html {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100% !important;
	height: 100%;
}

body {
	background-color: #00539e;
}



.navbar {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	background-color: #00539e !important;


}

#cover_text {
	padding-top: 4rem;
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
	font-weight: 200;
	color:
		#efa37f;


}

.home_page {
	height: 100%;
	width: 100%;

}

section {
	height: 100%;
	width: 100%;
}

section #contact {
	padding-left: 1rem;
}




#contact{ 
	font-family: 'Playfair Display', serif;
  color:
  #efa37f;
}
#contact h1 {
	font-size: 4rem;
}

#contact a {
	text-decoration: none;
}

#contact a:hover {
	text-decoration: none;
}

.outer_contact{
  position: relative;
}
.inner_contact{
  position: absolute;
  top:4rem;
  left:4rem;
}


.navbar a:active {
	color: white;
}


#about {
	font-family: 'Playfair Display', serif;
	color:
		#efa37f;
}


#about_text {
	font-size: 1.3rem;
	color:
		#efa37f;
}

#about h1 {
	padding-bottom: 0.5rem;
	font-size: 3rem;
	font-weight: 600;
	;
}

#about .row {
	padding: 1rem 0 1rem 0;
}

/* .about_item {
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	font-size: 2vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

} */

#about i {
	margin: 1.3rem 0rem 0rem 0rem;
}

.desc1 {
	font-weight: 400;
	padding: 3rem 0;
}

.typed_link {
	text-decoration: none;
	color: #212529;
}

.typed_link :hover :active {
	text-decoration: none;
	color: #212529;
}

.about-intro2 {
	font-style: italic;
	font-weight: 600;
}

.row .row {
	padding: 1rem 0;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: inherit;
}

.about-link {
	background-color: #212529;
	border-color: #212529;
	color: #6E9887;
	padding: 1rem;
}

.about_outer{
  position: relative;
}
#about_inner{
  position:absolute;
  bottom:1rem;
  left:1rem;
}
.wrapper {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}

#icons {
	padding: 3rem 0;
}

.icon{
  padding:1rem;
}

